<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Folder List</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <h1>Select Project</h1>
    <ul>
      {% for folder in folders %}
      <li
        {% if folder['is_project'] %}
        class="project-folder"
        {% endif %}
      >
        <a href="{{ url_for('save_project', folder=folder['path']) }}"
          >
          
          {{ folder["path"] }}
          </a
        >
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
